<template>
  <footer class="text-center bg-indigo-800 text-white p-10 mb-10 mt-10">
        <p>Developement by <a class="text-indigo-200" href="https://hallofinsch.com/" target="_blank">Hallo Finsch</a> in <a href="https://vue-covid-19-alert.web.app/" target="_blank" class="text-indigo-200">also in React Verion</a></p>
            
        </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>