<template>
  <header class="text-center bg-purple-800 text-white p-4 mb-10">
    <h1 class="text-3xl font-bold"><i class="fa fa-viruses mr-2"></i>Covid-19 Alert</h1>
    <p>API by <a class="text-purple-300" target="_blank" href="https://covid19api.com/">covid19api.com</a></p>
    
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>